body {
  margin: 0;
  font-family: "JetBrains Mono", sans-serif;
  background: #f0f0f0;
}

.container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
}

h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #000;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

th, td {
  padding: 0.9rem;
  border-bottom: 1px solid #eaeaea;
  text-align: left;
}

th {
  background: #f8f8f8;
}

button {
  background: rgba(0, 122, 255, 0.2);
  color: #007AFF;
  border: none;
  padding: 8px 14px;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s;
  font-weight: bold;
}

button:hover {
  background: rgba(0, 122, 255, 0.2);
}

.popup {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.2);
}

.popup-inner {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 1.5rem;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  box-shadow: 0 8px 32px rgba(0,0,0,0.1);
}

.popup-inner h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.popup-inner label {
  display: block;
  margin-bottom: 1rem;
  color: #333;
  font-weight: 500;
}

.popup-inner input {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 0.8rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  background: #f9f9f9;
  outline: none;
  transition: border-color 0.3s;
}

.popup-inner input:focus {
  border-color: #007AFF;
  background: #fff;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
